/* General Bar Styles */
* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font, monospace;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(20, 20, 20, 0.9);
    color: #ffffff;
    padding: 0 10px;
}

/* Module Spacing */
#workspaces,
#submap,
#window,
#wireplumber,
#network,
#tray,
#clock {
    margin: 0 6px;
}

/* Workspaces */
#workspaces button {
    padding: 0 2px;
    color: #888888;
    background: transparent;
    border-radius: 5px;
}

#workspaces button.active {
    color: #d6deff
}

#workspaces button.focused {
    color: #ffffff;
    background: #5e81ac;
}

#workspaces button.urgent {
    color: #ffffff;
    background: #bf616a;
}

#workspaces button:hover {
    background: #444444;
    color: #ffffff;
}

/* Submap */
#submap {
    font-style: italic;
    color: #d08770;
}

/* Window title */
#window {
    color: #ffffff;
    font-weight: bold;
}

/* Audio (Wireplumber) */
#wireplumber {
    color: #a3be8c;
    padding: 0 10px;
}

#wireplumber.muted {
    color: #888888;
}

/* Network */
#network {
    color: #b48ead;
}

#network.disconnected {
    color: #bf616a;
    font-style: italic;
}

/* Clock */
#clock {
    color: #ebcb8b;
}

/* System Tray */
#tray {
    margin-left: 10px;
}

